:root{
    
    /*Brand colors*/
    --blueLight-300: #AAD9F3;
    --blueNeutral-500: #729CA8;
    --blueDark-700: #5A79A7;
    --blueDarker-800: #4A6894;
    --greenLight: #9CBB99;

    /*Neutral colors*/
    --primaryWhiteNeutral: #e2edf8;
    --secondaryWhiteNeutral: #d8e4f3;

    --LightGray: #D1D9E6;
    --MediumGray: #6B7280;
    --DarkGray: #1F2937;
    --Black: #111827;

    --gray-100: #f8f9fa; /* Very light */
    --gray-300: #dee2e6;
    --gray-500: #adb5bd; /* Medium light */
    --gray-700: #495057;
    --gray-900: #212529; /* Very dark */

    /*Vibrant colors, contraste*/
    --redVibrant: #C42507;
    --yellowVibrant: #FEC715;

}

body{
    font-family: "Hedvig Letters Serif", 'GFS Didot', 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 1rem;
    background: var(--primaryWhiteNeutral);
}

.titulo-section{
    text-align: center;
    font-size: clamp(3em, 4vw, 5em);
    font-weight: 900;
    margin: 30px;
    letter-spacing: 1px;
}

/* Navbar geral */
.navbar-menu {
    background: linear-gradient(90deg, var(--blueLight-300), var(--blueDark-700));
    padding: 15px 0;
}

/* Logo */
.navbar-menu .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Links */
.navbar-menu .nav-link {
    color: white;
    margin-left: 20px;
    position: relative;
    transition: 0.3s;
}

/* Efeito hover */
.navbar-menu .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: 0.4s;
}

.navbar-menu .nav-link:hover::after {
    width: 100%;
}

.navbar-menu .nav-link:hover {
    color: #ddd;
}

/*BANNER*/
.container-fluid{
    position: relative;
    height: clamp(300px, 60vh, 700px);
}
.container-fluid img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.text-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primaryWhiteNeutral);
    text-align: center;
}
.text-banner h1{
    font-size: clamp(5em, 7vw, 7rem)
}
.text-banner p{
    font-size: clamp(1.5em, 3vw, 2em)
}


/*SECTION - ÚLTIMO LANÇAMENTO*/
#ultimo-lancamento{
    background: radial-gradient(circle at top, #6e8fb5, #4f6d96);
    margin: 20px 0;
    padding: 60px 20px;
}
.ultimo-lancamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo-lancamento{
    color: var(--gray-100);
    font-family: 'Sora', sans-serif;  
}
.iframe-wrapper {
    width: 100%;
    border-radius: 16px;
    max-width: 900px;
    height: clamp(200px, 28vw, 352px); 
    margin: 25px 0;
}
.iframe-wrapper iframe{
    width: 100%;
    height: 100%;
}
iframe:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.btn-edicoes{
    background: #174080;
    color: var(--secondaryWhiteNeutral);
    font-family: 'Sora', sans-serif;
    line-height: 50px;
    border-bottom: 5px solid #0a1d3b; ;
    opacity: 0.8;
    transition: 0.2s;
    font-size: clamp(16px, 2vw, 24px);
}
.btn-edicoes:hover{
    background: #153974;
    transform: scale(1.1);
    color: var(--secondaryWhiteNeutral);
    opacity: 1;
}


/*SECTION - NEWSLETTER*/
#newsletter{
    text-align: center;
    padding: 20px;
}
#newsletter img{
    object-fit: cover;
    object-position: 50% 25%;
    width: 100%;
    margin: 10px 10px 0 10px;
    transition: 0.2s;
}
#newsletter img:hover{
    transform: scale(1.03);
}
#newsletter p{
    text-align: justify;
}
#newsletter a{
    text-decoration:none;
}
#newsletter a:visited {
  color:#999999;
}
#newsletter a:hover {
  color:#000000;
  text-decoration:underline;
}
@media (max-width: 1024px) {
  #newsletter img {
    height: 130px;
    margin-bottom: 10px;
    width: 80%;
  }
}


/* section sobre */

#newscast {
    padding: 20px 20px;
}

#newscast img {
    transition: 0.3s;
}

#newscast img:hover {
    transform: scale(1.03);
}


/* FOOTER */
#footer {
    background: linear-gradient(90deg, var(--blueDark-700), var(--blueDarker-800));
    color: var(--primaryWhiteNeutral);
    padding: 50px 20px 20px;
    margin-top: 40px;
}

/* Títulos */
#footer h4 {
    margin-bottom: 15px;
    font-weight: 600;
}

/* footer links */
.link-credito a{
    color: var(--primaryWhiteNeutral); /* branco */
    text-decoration: none;
    transition: 0.3s;
}

.link-credito:hover a{
    color: var(--blueLight-300); /* mantém seu padrão do site */
    text-decoration: underline;
}
.social-icons a {
    color: var(--primaryWhiteNeutral);
    font-size: 1.5rem;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--blueLight-300);
    transform: scale(1.2);
}


